.wrapper {
    max-width: 1140px;
}
header {
    display: flex;
    padding-top: 52px;
}
.nav {
    list-style-type: none;
    display: flex;
    align-items: baseline;

    
}
.nav-logo {
    position: absolute;
    width: 97px;
    height: 30px;
    left: 52px;
}
.nav-item {
    padding-left: 59px;
     
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s color ease;  
}
.nav-info {
    
    padding-right: 45px;
    opacity: 0.8;
}
.nav-info .nav-item {
    position: relative;
  }